@page
@model JobSeekingClient.Pages.Accounts.ChangePassModel
@{
}
<h1>Change password</h1>

<hr />
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.message
    </div>
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input type="password" asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.NewPassword" class="control-label"></label>
                <input type="password" asp-for="Account.NewPassword" class="form-control" />
                <span asp-validation-for="Account.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="Account.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Account.ConfirmPassword" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
