@page "/Feedback/{applicantId:int}"
@model JobSeekingClient.Pages.Interviews.FeedbackModel

@{
    ViewData["Title"] = "Feedback";
}

<h1>Feedback</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Interview.InterviewerId" />
            <div class="form-group">
                <label asp-for="Interview.ApplicationId" class="control-label"></label>
                <input asp-for="Interview.ApplicationId" class="form-control" readonly />
                <span asp-validation-for="Interview.ApplicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interview.SlotId" class="control-label"></label>
                <input asp-for="Interview.SlotId" class="form-control" readonly />
                <span asp-validation-for="Interview.SlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interview.Feedback" class="control-label"></label>
                <input asp-for="Interview.Feedback" class="form-control" />
                <span asp-validation-for="Interview.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interview.Point" class="control-label"></label>
                <input asp-for="Interview.Point" class="form-control" />
                <span asp-validation-for="Interview.Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interview.Round" class="control-label"></label>
                <input asp-for="Interview.Round" class="form-control" readonly/>
                <span asp-validation-for="Interview.Round" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Interviews/FeedbackIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
