@page "{id:int}"
@model JobSeekingClient.Pages.ViewCvModel
@{
}
<object data="@Url.Content(Model.config["ApiImages"] + Model.CvPath)" type="application/pdf" width="100%" height="600">
    <p>PDF viewer not available. Please download the PDF to view it: <a href="@Url.Content(Model.config["ApiImages"] + Model.CvPath)">Download PDF</a>.</p>
</object>